<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Actividad</th>
            <th>Completar</th>
            <th>Eliminar</th>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks; index as i">
            <th>{{i+1}}</th>
            <th><b [ngClass]="task.complete? 'is-underlined' : '' ">{{task.name}}</b></th>
            <th>
                <button [disabled]="task.complete" class="button is-link" (click)="complete(task)">Completar</button>
            </th>
            <th><button class="button is-danger" (click)="delete(task)">Eliminar</button></th>
    </tbody>
</table>