<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Actividad</th>
            <th>Completar</th>
            <th>Eliminar</th>
    </thead>
    <tbody>
        <tr *ngFor="let task of tasks; index as i">
            <th>{{i+1}}</th>
            <th><b>{{task}}</b></th>
            <th>
                <button class="button is-link">Completar</button>
            </th>
            <th><button class="button is-danger">Eliminar</button></th>
    </tbody>
</table>